
body {
	background: #f8f8f8;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #ffa456;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 18px;
    line-height: 34px;
}

/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

/***** Divider *****/

.divider-1 {
    padding: 25px 0 15px 0;
}
.divider-1 .line {
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}


/***** Testimonials *****/

.testimonials-container {
    padding-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: left;
}

.testimonial-list .tab-pane {
    overflow: hidden;
}

.testimonial-list .testimonial-image {
    float: left; width: 17%;
    margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img {
	max-width: 120px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.testimonial-list .testimonial-text {
    float: left;
    width: 83%; }
.testimonial-list .testimonial-text p {
    opacity: 0.8;
}
.testimonial-list .testimonial-text a {
    color: black;
    border-bottom: 1px dotted black;
}
.testimonial-list .testimonial-text a:hover, .testimonial-list .testimonial-text a:focus {
    color: black;
    border: 0;
}

.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}
.testimonial-list .nav-tabs li {
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    background: none;
    border: 1px solid black;
    border-color: #57BECC;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover {
	background: #57BECC;
    border: 1px #57BECC;
    border-color: #57BECC;
}
.testimonial-list .nav-tabs li.active a, .testimonial-list .nav-tabs li.active a:focus {
    background: #57BECC;
    border: 0;
}
